<div>
  <mat-form-field>
    <input matInput placeholder="Nombre" [(ngModel)]="alimento.nombre">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Cantidad" [(ngModel)]="alimento.cantidad">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="EnergyKcal" [(ngModel)]="alimento.energyKcal">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="energyKj" [(ngModel)]="alimento.energyKj">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="water" [(ngModel)]="alimento.water">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="prot" [(ngModel)]="alimento.prot">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="fat" [(ngModel)]="alimento.fat">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="choCdf" [(ngModel)]="alimento.choCdf">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="choAvl" [(ngModel)]="alimento.choAvl">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="fib" [(ngModel)]="alimento.fib">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="fibTg" [(ngModel)]="alimento.fibTg">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="ash" [(ngModel)]="alimento.ash">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="ca" [(ngModel)]="alimento.ca">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="p" [(ngModel)]="alimento.p">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="zn" [(ngModel)]="alimento.zn">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="fe" [(ngModel)]="alimento.fe">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="beta" [(ngModel)]="alimento.beta">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="retinol" [(ngModel)]="alimento.retinol">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="vitA" [(ngModel)]="alimento.vitA">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="thia" [(ngModel)]="alimento.thia">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="ribf" [(ngModel)]="alimento.ribf">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="nia" [(ngModel)]="alimento.nia">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="vitC" [(ngModel)]="alimento.vitC">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="nombreGrupo" [(ngModel)]="alimento.grupo">
  </mat-form-field>
</div>
<button mat-raised-button color="primary" (click)="operar()">Aceptar</button>
<button mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
