.example-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}

.example-header {
  margin: auto;
  width: 80%;
}

.mat-form-field {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 14px;
  width: 100%;
}

.mat-table {
  margin: auto;
  width: 80%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


