<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar" >
      <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
          <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>

      <h1 class="example-app-name">NUTRIAPP</h1>

      <span class="example-spacer"></span>

      <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/perfil">
              <mat-icon>account_box</mat-icon>
              <span>Mi Perfil</span>
          </button>
          <button mat-menu-item (click)="sidenav.opened = false">
              <mat-icon>exit_to_app</mat-icon>
              <span>Cerrar Sesión</span>
          </button>
      </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #sidenav style="width: 300px">
          <img src="assets/comidas.png" width="220" style="margin-left: 20px">

          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/rol" style="cursor: pointer">
              <mat-icon>dvr</mat-icon>
              <span>Gestion de Roles de Acceso</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/grupo" style="cursor: pointer">
              <mat-icon>dvr</mat-icon>
              <span>Gestion de Grupos de Alimentos</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/alimento" style="cursor: pointer">
              <mat-icon>dvr</mat-icon>
              <span>BD de Alimentos</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/plan" style="cursor: pointer">
              <mat-icon>star_rate</mat-icon>
              <span>Gestion de Días de Plan Alimenticio</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/vacuna" style="cursor: pointer">
              <mat-icon>healing</mat-icon>
              <span>Gestión de Vacunas</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/turnocomida" style="cursor: pointer">
              <mat-icon>assignment</mat-icon>
              <span>Gestión de Turnos de Comida</span>
          </button>
          <mat-divider></mat-divider>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/control" style="cursor: pointer">
              <mat-icon>assessment</mat-icon>
              <span>Controles</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/reporte" style="cursor: pointer">
              <mat-icon>assessment</mat-icon>
              <span>Reportes</span>
          </button>
      </mat-sidenav>
      <mat-sidenav-content>
          <router-outlet></router-outlet>
          <!--mat-grid-list-- cols="2" rowHeight="2:1">
            <mat-grid-tile class="column"><img src="assets/crec.png" width="600"></mat-grid-tile>
            <mat-grid-tile class="column"><img src="assets/bd.png" width="400"> </mat-grid-tile>
            <mat-grid-tile class="column"><img src="assets/diet.png" width="300"></mat-grid-tile>
            <mat-grid-tile class="column"><img src="assets/vacu.png" width="400"></mat-grid-tile>
          </!--mat-grid-list-->
      </mat-sidenav-content>
  </mat-sidenav-container>

</div>
